# Exploración del dataset
    Aquí se analizará el dataset para posteriormente aplicar transfromaciones de ser necesario

In [ ]:
import pandas as pd
import numpy as np
import logging
from config import API_BASE_URL, API_TOKEN, EMAIL
from ingest import fetch_data, parse_data
from transform import transform_categories

PARAMS = {
    "email": EMAIL,
    "key": API_TOKEN,
    "type": "ecommerce",
    "rows": 1000,
    "format": "json"
}

CATEGORIES = 'categories'
BRANDS = 'brands'
SUPPLIERS = 'suppliers'
WAREHOUSES = 'warehouses'
PRODUCTS = 'products'
INVENTORY = 'inventory'
CUSTOMERS = 'customers'
PROMOTIONS = 'promotions'
ORDERS = 'orders'
ORDER_ITEMS = 'order_items'
REVIEWS = 'reviews'

logging.basicConfig(
        level=logging.INFO,
        format='%(asctime)s - %(levelname)s - %(message)s'
)
logger = logging.getLogger(__name__)

try:
    resp = fetch_data(API_BASE_URL, PARAMS, logger)
    tables = parse_data(resp)

    print(tables.keys())
except Exception as e:
    logger.error(f"An error occurred: {e}")

2026-01-10 19:55:06,545 - INFO - Fetching 1000 rows of ecommerce data...

dict_keys(['categories', 'brands', 'suppliers', 'warehouses', 'products', 'inventory', 'customers', 'promotions', 'orders', 'order_items', 'reviews'])

In [11]:
tables[CATEGORIES].info()
tables[CATEGORIES].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   category_id         10 non-null     int64
 1   category_name       10 non-null     object
 2   description         10 non-null     object
 3   parent_category_id  2 non-null      float64
 4   is_active           10 non-null     bool
 5   display_order       10 non-null     int64
dtypes: bool(1), float64(1), int64(2), object(2)
memory usage: 542.0+ bytes

,category_id,category_name,description,parent_category_id,is_active,display_order
0,1,Electrónica,Productos de electrónica,NaN,False,1
1,2,Ropa,Productos de ropa,1.0,True,2
2,3,Hogar,Productos de hogar,NaN,True,3
3,4,Deportes,Productos de deportes,1.0,True,4
4,5,Libros,Productos de libros,NaN,True,5

In [12]:
tables[BRANDS].info()
tables[BRANDS].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   brand_id           15 non-null     int64
 1   brand_name         15 non-null     object
 2   country_of_origin  15 non-null     object
 3   founded_year       15 non-null     int64
 4   website            15 non-null     object
 5   is_premium         15 non-null     bool
dtypes: bool(1), int64(2), object(3)
memory usage: 747.0+ bytes

,brand_id,brand_name,country_of_origin,founded_year,website,is_premium
0,1,TechPro,Brasil,1989,https://www.techpro.com,False
1,2,StyleMax,Japón,2012,https://www.stylemax.com,False
2,3,HomeLife,China,1952,https://www.homelife.com,True
3,4,SportElite,Brasil,2013,https://www.sportelite.com,False
4,5,BookWorld,Brasil,1977,https://www.bookworld.com,False

In [13]:
tables[SUPPLIERS].info()
tables[SUPPLIERS].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   supplier_id    8 non-null      int64
 1   supplier_name  8 non-null      object
 2   contact_name   8 non-null      object
 3   email          8 non-null      object
 4   phone          8 non-null      object
 5   address        8 non-null      object
 6   rating         8 non-null      float64
 7   is_active      8 non-null      bool
dtypes: bool(1), float64(1), int64(1), object(5)
memory usage: 588.0+ bytes

,supplier_id,supplier_name,contact_name,email,phone,address,rating,is_active
0,1,Distribuidora Norte,Carlos López,contact@distribuidoranorte.com,+1 881-306-5014,875 Salta,4.0,True
1,2,Importadora Sur,Juan Pérez,contact@importadorasur.com,+1 723-935-9251,5059 Tucumán,3.7,True
2,3,Mayorista Central,María García,contact@mayoristacentral.com,+1 761-809-9183,4974 Mar del Plata,3.5,True
3,4,Logística Express,Juan Pérez,contact@logísticaexpress.com,+1 426-716-5570,5551 Salta,3.6,True
4,5,Proveedores Unidos,Juan Pérez,contact@proveedoresunidos.com,+1 596-507-3357,6780 Mar del Plata,3.9,False

In [14]:
tables[WAREHOUSES].info()
tables[WAREHOUSES].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   warehouse_id       5 non-null      int64
 1   warehouse_name     5 non-null      object
 2   location           5 non-null      object
 3   capacity_units     5 non-null      int64
 4   current_occupancy  5 non-null      int64
 5   manager_name       5 non-null      object
dtypes: int64(3), object(3)
memory usage: 372.0+ bytes

,warehouse_id,warehouse_name,location,capacity_units,current_occupancy,manager_name
0,1,Depósito 1,Buenos Aires,14590,73,Sofía Ramírez
1,2,Depósito 2,Córdoba,24414,77,Laura Torres
2,3,Depósito 3,Rosario,17573,64,Diego Fernández
3,4,Depósito 4,Mendoza,40839,83,Diego Fernández
4,5,Depósito 5,La Plata,85334,74,Diego Fernández

In [15]:
tables[PRODUCTS].info()
tables[PRODUCTS].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    100 non-null    int64
 1   sku           100 non-null    object
 2   product_name  100 non-null    object
 3   description   100 non-null    object
 4   category_id   100 non-null    int64
 5   brand_id      100 non-null    int64
 6   supplier_id   100 non-null    int64
 7   price         100 non-null    float64
 8   cost          100 non-null    float64
 9   weight_kg     100 non-null    float64
 10  is_active     100 non-null    bool
 11  created_at    100 non-null    object
 12  updated_at    100 non-null    object
dtypes: bool(1), float64(3), int64(4), object(5)
memory usage: 9.6+ KB

,product_id,sku,product_name,description,category_id,brand_id,supplier_id,price,cost,weight_kg,is_active,created_at,updated_at
0,1,SKU-000001,Pro Widget 1,Descripción detallada del producto 1,8,10,6,259.26,178.89,47.6,True,2023-12-09,2025-06-19
1,2,SKU-000002,Pro Producto 2,Descripción detallada del producto 2,3,13,4,302.60,160.38,14.5,True,2022-06-04,2025-12-16
2,3,SKU-000003,Mini Kit 3,Descripción detallada del producto 3,3,8,8,94.28,45.25,36.0,True,2022-04-04,2024-04-23
3,4,SKU-000004,Básico Artículo 4,Descripción detallada del producto 4,7,10,1,390.19,195.10,23.9,True,2022-12-30,2024-01-18
4,5,SKU-000005,Pro Dispositivo 5,Descripción detallada del producto 5,4,13,1,186.14,104.24,20.0,True,2022-09-08,2024-11-01

In [16]:
tables[INVENTORY].info()
tables[INVENTORY].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   inventory_id       195 non-null    int64
 1   product_id         195 non-null    int64
 2   warehouse_id       195 non-null    int64
 3   quantity           195 non-null    int64
 4   min_stock_level    195 non-null    int64
 5   max_stock_level    195 non-null    int64
 6   last_restock_date  195 non-null    object
dtypes: int64(6), object(1)
memory usage: 10.8+ KB

,inventory_id,product_id,warehouse_id,quantity,min_stock_level,max_stock_level,last_restock_date
0,1,1,2,71,46,294,2025-10-15
1,2,2,5,161,48,527,2024-05-10
2,3,3,3,263,13,885,2024-12-25
3,4,3,1,222,12,496,2025-08-23
4,5,3,2,443,50,500,2025-07-05

In [17]:
tables[CUSTOMERS].info()
tables[CUSTOMERS].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334 entries, 0 to 333
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        334 non-null    int64
 1   first_name         334 non-null    object
 2   last_name          334 non-null    object
 3   email              334 non-null    object
 4   phone              334 non-null    object
 5   birth_date         334 non-null    object
 6   city               334 non-null    object
 7   country            334 non-null    object
 8   postal_code        334 non-null    int64
 9   segment            334 non-null    object
 10  registration_date  334 non-null    object
 11  last_login         334 non-null    object
 12  is_verified        334 non-null    bool
 13  accepts_marketing  334 non-null    int64
dtypes: bool(1), int64(3), object(10)
memory usage: 34.4+ KB

,customer_id,first_name,last_name,email,phone,birth_date,city,country,postal_code,segment,registration_date,last_login,is_verified,accepts_marketing
0,1,Lucía,Pérez,lucía.pérez1@email.com,+1 712-354-2895,1976-01-16,Mar del Plata,Perú,55254,Silver,2023-05-09,2025-05-21,False,1
1,2,Sofía,Rodríguez,sofía.rodríguez2@email.com,+1 839-396-6851,1972-09-17,Salta,Uruguay,81142,Bronze,2021-02-10,2023-03-11,False,1
2,3,Laura,Rodríguez,laura.rodríguez3@email.com,+1 961-822-8800,1974-05-07,Tucumán,Argentina,25561,Silver,2020-09-25,2021-02-15,False,1
3,4,Mateo,Sánchez,mateo.sánchez4@email.com,+1 409-725-8868,1969-07-11,Tucumán,Chile,28648,Gold,2020-02-22,2021-09-24,True,0
4,5,Gabriel,Torres,gabriel.torres5@email.com,+1 264-403-8158,1982-08-09,Mar del Plata,Argentina,58666,Platinum,2022-07-14,2022-08-23,True,1

In [18]:
tables[PROMOTIONS].info()
tables[PROMOTIONS].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   promotion_id      10 non-null     int64
 1   promotion_code    10 non-null     object
 2   promotion_name    10 non-null     object
 3   promotion_type    10 non-null     object
 4   discount_value    10 non-null     int64
 5   min_order_amount  10 non-null     int64
 6   max_uses          10 non-null     int64
 7   current_uses      10 non-null     int64
 8   start_date        10 non-null     object
 9   end_date          10 non-null     object
 10  is_active         10 non-null     bool
dtypes: bool(1), int64(5), object(5)
memory usage: 942.0+ bytes

,promotion_id,promotion_code,promotion_name,promotion_type,discount_value,min_order_amount,max_uses,current_uses,start_date,end_date,is_active
0,1,PROMO9E051F,Promoción 1,free_shipping,47,430,2229,87,2024-03-28,2024-05-20,True
1,2,PROMO61E304,Promoción 2,buy_x_get_y,33,40,5778,149,2024-05-08,2024-06-05,True
2,3,PROMO4D1D33,Promoción 3,fixed_amount,37,70,2108,211,2024-03-25,2024-04-09,False
3,4,PROMO04614B,Promoción 4,free_shipping,20,190,3166,227,2024-02-25,2024-03-23,True
4,5,PROMOE3519B,Promoción 5,buy_x_get_y,40,240,3862,149,2024-01-27,2024-02-04,False

In [19]:
tables[ORDERS].info()
tables[ORDERS].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          1000 non-null   int64
 1   order_number      1000 non-null   object
 2   customer_id       1000 non-null   int64
 3   order_date        1000 non-null   object
 4   status            1000 non-null   object
 5   subtotal          1000 non-null   float64
 6   discount_percent  1000 non-null   int64
 7   shipping_cost     1000 non-null   int64
 8   tax_amount        1000 non-null   float64
 9   total_amount      1000 non-null   float64
 10  payment_method    1000 non-null   object
 11  shipping_method   1000 non-null   object
 12  promotion_id      252 non-null    float64
 13  notes             158 non-null    object
dtypes: float64(4), int64(4), object(6)
memory usage: 109.5+ KB

,order_id,order_number,customer_id,order_date,status,subtotal,discount_percent,shipping_cost,tax_amount,total_amount,payment_method,shipping_method,promotion_id,notes
0,1,ORD-20250519-00001,171,2025-05-19,enviado,8182.75,6,140,1718.38,9550.17,paypal,express,2.0,None
1,2,ORD-20250107-00002,232,2025-01-07,pendiente,3653.62,17,450,767.26,4249.76,paypal,same_day,NaN,None
2,3,ORD-20240427-00003,31,2024-04-27,pendiente,2010.44,1,490,422.19,2902.53,paypal,express,2.0,None
3,4,ORD-20230711-00004,144,2023-07-11,procesando,2733.22,19,340,573.98,3127.89,paypal,standard,NaN,None
4,5,ORD-20241028-00005,244,2024-10-28,cancelado,3809.66,1,300,800.03,4871.59,bank_transfer,same_day,NaN,None

In [20]:
tables[ORDER_ITEMS].info()
tables[ORDER_ITEMS].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3031 entries, 0 to 3030
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_item_id  3031 non-null   int64
 1   order_id       3031 non-null   int64
 2   product_id     3031 non-null   int64
 3   quantity       3031 non-null   int64
 4   unit_price     3031 non-null   float64
 5   subtotal       3031 non-null   float64
dtypes: float64(2), int64(4)
memory usage: 142.2 KB

   order_item_id  order_id  product_id  quantity  unit_price  subtotal
0              1         1          73         3      495.49   1486.47
1              2         1          66         1      420.57    420.57
2              3         1          42         5      470.54   2352.70
3              4         1          15         5      388.21   1941.05
4              5         1          73         4      495.49   1981.96

In [21]:
tables[REVIEWS].info()
tables[REVIEWS].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   review_id             200 non-null    int64
 1   product_id            200 non-null    int64
 2   customer_id           200 non-null    int64
 3   rating                200 non-null    int64
 4   title                 200 non-null    object
 5   comment               200 non-null    object
 6   is_verified_purchase  200 non-null    bool
 7   helpful_votes         200 non-null    int64
 8   created_at            200 non-null    object
dtypes: bool(1), int64(5), object(3)
memory usage: 12.8+ KB

,review_id,product_id,customer_id,rating,title,comment,is_verified_purchase,helpful_votes,created_at
0,1,63,12,4,Podría mejorar,Muy buena calidad por el precio.,False,8,2023-01-09
1,2,71,29,3,Excelente producto,Bueno pero esperaba un poco más.,True,41,2023-06-25
2,3,17,330,2,Recomendado,Bueno pero esperaba un poco más.,True,19,2023-06-25
3,4,85,82,1,Podría mejorar,Cumple con lo prometido.,True,42,2023-01-26
4,5,81,274,5,Satisfecho,No cumplió mis expectativas.,True,13,2023-03-04